body{
	background-image: url(../img/todad/Ky3DHqm.jpg);
	background-size: 100%;
	background-repeat: no-repeat; 
	padding: 100px;
}
.Fw{
	color:#fff;
	font-size: 1em;
}
.der{
	color: #fff;
	font-size: 1.3em;
}